body {
    background-color: #537fbe;
    color: white;
}

a {
    color: white;
}

footer {
    font-style: italic;
}

footer a {
    text-decoration: underline;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

h3 {
    padding-bottom: 20px;
}

#input_wide {
    width: 193px;
}

#quote_button {
    margin-bottom: 20px;
}
