{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h3>Portfolio</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </thead>
        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price_of_share | usd }}</td>
                <td>{{ stock.cost | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td><b>{{ cash_available | usd }}</b></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}