{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <!-- this file will contain the form via which users will
            be able to upload two files to your web application for
            comparison via one of your three algorithms. -->

            <!-- choosing file1 -->
            <label for="file1">File 1:</label>
            <input type="file" name="file1" id="file1">
            <br>
            <!-- choosing file2 -->
            <label for="file2">File 2:</label>
            <input type="file" name="file2" id="file2">
            <br>
            <!--Selecting alghoritm to use with our web app-->
            <select required name="algorithm">
                <option value="">None</option>
                <option value="lines">Compare lines</option>
                <option value="sentences">Compare senteces</option>
                <option value="substrings">Compare substrings</option>
            </select>
            <br>
            <input type="number" name="lenght" placeholder="Choose lenght">
            <br>

            <!-- Submit button -->
            <button type="submit" id="submit_button">Compare</button>
        </form>
    </div>

{% endblock %}
